<div>
	<ul>
		<li>
			<b>{{ doc.source_airport }} → {{ doc.destination_airport }}</b><br>
			Date: {{ frappe.utils.format_date(doc.date_of_departure, "d MMMM, YYYY") }} <br>
			Time: {{ doc.time_of_departure }} <br>
			Duration: {{ frappe.utils.format_duration(doc.duration) }} <br>
			Airline: {{ frappe.db.get_value("Airplane", doc.airplane, "airline") }} <br>
			<a href="/{{ doc.route }}" style="display:inline-block;padding:8px 16px;background:#007bff;color:#fff;text-decoration:none;border-radius:4px;">View Flight</a>
		</li>
	</ul>
	<hr>
</div>
